In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics import confusion_matrix
import warnings
warnings.filterwarnings("ignore")

In [4]:
Forest=pd.read_csv('A:/Data Science/assignments/SVM/forestfires.csv')

In [5]:
Forest.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [6]:
Forest.dtypes

month             object
day               object
FFMC             float64
DMC              float64
DC               float64
ISI              float64
temp             float64
RH                 int64
wind             float64
rain             float64
area             float64
dayfri             int64
daymon             int64
daysat             int64
daysun             int64
daythu             int64
daytue             int64
daywed             int64
monthapr           int64
monthaug           int64
monthdec           int64
monthfeb           int64
monthjan           int64
monthjul           int64
monthjun           int64
monthmar           int64
monthmay           int64
monthnov           int64
monthoct           int64
monthsep           int64
size_category     object
dtype: object

In [13]:
var2=Forest.select_dtypes('object').columns
var2=['month', 'day']
var2

['month', 'day']

In [15]:
from sklearn.preprocessing import LabelEncoder
Lab=LabelEncoder()

In [16]:
for i in var2:
    Forest[i]=Lab.fit_transform(Forest[i]).astype('object')

In [17]:
Forest.dtypes

month             object
day               object
FFMC             float64
DMC              float64
DC               float64
ISI              float64
temp             float64
RH                 int64
wind             float64
rain             float64
area             float64
dayfri             int64
daymon             int64
daysat             int64
daysun             int64
daythu             int64
daytue             int64
daywed             int64
monthapr           int64
monthaug           int64
monthdec           int64
monthfeb           int64
monthjan           int64
monthjul           int64
monthjun           int64
monthmar           int64
monthmay           int64
monthnov           int64
monthoct           int64
monthsep           int64
size_category     object
dtype: object

In [18]:
Forest.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,7,0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,10,5,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,10,2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,7,0,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,7,3,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [19]:
from sklearn.model_selection import train_test_split

In [25]:
X=Forest.iloc[:,0:30]
y=Forest.iloc[:,30]

In [27]:
y.head()

0    small
1    small
2    small
3    small
4    small
Name: size_category, dtype: object

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=7)

In [58]:
from sklearn.svm import SVC
from sklearn.metrics  import classification_report,roc_auc_score,roc_curve
from sklearn.model_selection import KFold

In [34]:
SC=SVC(kernel='poly')
SC.fit(X_train,y_train)

SVC(kernel='poly')

In [35]:
SC.score(X_test,y_test)

0.7435897435897436

In [36]:
SC.score(X_train,y_train)

0.7811634349030471

In [48]:
scoretr=[]
scoretest=[]
Kf=KFold(n_splits=10,shuffle=False)
for train_index ,test_index in Kf.split(X,y):
        X_train,X_test=X.iloc[train_index],X.iloc[test_index]
        y_train,y_test=y.iloc[train_index],y.iloc[test_index]
        SC=SVC(kernel='linear')
        mod=SC.fit(X_train,y_train)
        score=SC.score(X_train,y_train)
        score1=SC.score(X_test,y_test)
        scoretr.append(score)
        scoretest.append(score1)

In [53]:
values=SC.predict(X_test)

In [49]:
print('Training Score',np.mean(scoretr))
print('Testing Score',np.mean(scoretest))

Training Score 0.9995703539618811
Testing Score 0.9922699849170439

In [57]:
print(classification_report(y_test,values))

              precision    recall  f1-score   support

       large       1.00      1.00      1.00        19
       small       1.00      1.00      1.00        32

    accuracy                           1.00        51
   macro avg       1.00      1.00      1.00        51
weighted avg       1.00      1.00      1.00        51

In [ ]:
#Accuracy of Forest is 99